@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist?</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  <button type="submit" class="btn btn-primary">Get them saved!</button>
}
<p>@Html.ActionLink("Back to your stylists!", "Index")</p>