@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new client?</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <button type="submit" class="btn btn-primary">Add your new client!</button>
}
<p>@Html.ActionLink("Back to clients", "Index")</p>
